

header{
    width: 100%;
  height: 170px;
  display: flex;
    align-items: center;
  background-color: var(--primary-color);
  justify-content: space-between;
}



.white-button{
    padding: 15px 20px;
    font-size: 100%;
    border-radius: 25px;
    color: var(--dark-blue);
    background-color: var(--secundary-color);
}
.blue-button{
    padding: 15px 30px;   
    font-size: 100%;
    border-radius: 25px;
    color: var(--secundary-color);
    background-color: var(--dark-blue);
}

.container-button{
    display: flex;
    gap: 20px;
    margin-right: 3%;
}

.logo{
    width: 15%;
    margin-left: 3%;
    
}

.container-pages{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.iconecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.iconecontainer p{
    width: 150px;
    margin-top: 10px;
}
