

footer{
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center; 
  background-color: var(--primary-color);
  border-top: 10px solid var(--lines-table);
}
    
.container-footer{
    display: flex;
    gap: 60%;
    align-items: start;
    text-align: center;
    justify-content: space-between;
}

.container-contact, h3{
    font-family: 20px;
}

.emailFooter{
    margin-top: 20px;
    display: flex;
    font-family: 20px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.container-help{
    text-align: center;
}

.container-help p{
    margin-top: 20px;
}

.container-Terms{
    text-align: center;
}
.container-Terms p{
    margin-top: 15px;
    width: 200px;
}

.Logo{
    margin: 5%;
    margin-right: 13%;
}